/*Font-family*/
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Open+Sans&display=swap');
body{
    margin: 0%;
    }
h1, h2 {
    font-family: 'Luckiest Guy', cursive;
    }
h2 {
  font-size: 45px;
}
.bandeautitre {
  margin-top: 95px;
}
.navbar-brand img {
  width: 100%;
}
.nav-item {
  font-size: 25px;
}
/*==================Bandeau==================*/
.bandeau {
    width: 100%;
    height: 950px;
    background-image: url(images/photo_couverture2.jpg);
    background-size: cover;
    background-position: center;
    }
/*Texte animé*/
.titre {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    }
/*==================Les entraineurs ==================*/
.textprof{
  font-size: 20px;
}
/*==================Page cours ==================*/
.texte {
  font-size: 20px;
  padding-left: 50px;
}
.horaire {
  margin-top: 120px;
}
/*==================SAUT DE LIGNE AVANT FOOTER==================*/
.pagedown {
  margin-bottom: 90px;
}
/*================== CONTACT FORMULAIRE ==================*/
.get-in-touch {
  max-width: 800px;
  margin: 50px auto;
  position: relative;
}
.get-in-touch .title {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 3.2em;
  line-height: 48px;
  padding-bottom: 48px;
     color: #5543ca;
    background: #5543ca;
    background: -moz-linear-gradient(to right, #f83600 0%, #f9d423 100%) !important;
    background: -webkit-linear-gradient(to right, #f83600 0%, #f9d423 100%) !important;
    background: linear-gradient(to right, #f83600 0%, #f9d423 100%) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
}
.contact-form .form-field {
  position: relative;
  margin: 32px 0;
}
.contact-form .input-text {
  display: block;
  width: 100%;
  height: 36px;
  border-width: 0 0 2px 0;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
}
.contact-form .input-text:focus {
  outline: none;
}
.contact-form .input-text:focus + .label,
.contact-form .input-text.not-empty + .label {
  -webkit-transform: translateY(-24px);
          transform: translateY(-24px);
}
.contact-form .label {
  position: absolute;
  left: 20px;
  bottom: 11px;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  cursor: text;
  transition: -webkit-transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out, 
  -webkit-transform .2s ease-in-out;
}
.contact-form .submit-btn {
  display: inline-block;
  background-color: #000;
   background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%);
  color: black;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 16px;
  padding: 8px 16px;
  border: none;
  width:200px;
  cursor: pointer;
}